.p-selector-sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #dfdfdf;
  overflow-x: hidden;
  transition: all 2s ease 0s;
  padding-top: 60px;
}

.p-selector-sidenav {
  ul {
    list-style-type: none;
    li {
      padding: 10px 10px 10px 0px;
      font-size: 25px;
      color: #818181;
    }
  }
}

.formInputField {
  font-size: 16px;
  padding-right: 80px;
}

// .p-selector-sidenav li:hover {
//   color: #f1f1f1;
// }

// .p-selector-sidenav {
//   .closebtn {
//     position: absolute;
//     top: 0;
//     right: 25px;
//     font-size: 36px;
//     margin-left: 50px;
//   }
// }
