<div id="productSidenav" class="p-selector-sidenav">
  <ul>
    <li *ngFor="let prod of productos">
      <span matBadge="{{getCantidad(prod.ProveeProductos)}}" matBadgeOverlap="false">{{prod.NombreProducto}}</span>
      <div>
        <mat-form-field class="formInputField" appearance="outline">
          <input #ref1 matInput type="number">
          <button (click)="addProductoToBuy(ref1, prod)" style="float: right;" mat-icon-button aria-label="btnss">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </li>
  </ul>
</div>

<h1 mat-dialog-title>Agregar pedido</h1>
<div mat-dialog-content>
  <form id="addPedidoForm" [formGroup]="addPedidoForm" (submit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Mesa</mat-label>
      <mat-select formControlName="NumMesa">
        <mat-option *ngFor="let mesa of mesas" value="{{mesa.Numero}}">{{mesa.Numero}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
      <mat-label>Cantidad</mat-label>
      <input matInput formControlName="cantidadToBuy" type="number" />
    </mat-form-field> -->
    <div style="padding: 0 0.70em 0.70em;">
      <button mat-raised-button color="primary" (click)="limpiarTablaPedidos()">Limpiar</button>
      <table mat-table [dataSource]="productoLlevar" style="width: 100%;" class="mat-elevation-z8">
        <ng-container matColumnDef="NombreProducto">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.NombreProducto}} </td>
        </ng-container>
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div>TOTAL: C${{montoTotal}}</div>
    <mat-form-field appearance="outline">
      <mat-label>Observacion</mat-label>
      <input matInput formControlName="Observacion" type="text" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button (click)="submit()" form="addProdForm" [disabled]="!addPedidoForm.valid">Agregar</button>
</div>
