<div fxLayout="row">
  <div fxFlex.gt-sm="100%" >
    <mat-card>
      <mat-card-content>
        <mat-card-title>
          <div fxLayou="row">
            <div fxFlex.gt-sm="50%">Reportes</div>
            <div fxFlex.gt-sm="50%" dir="rtl" fxLayoutGap="20px">
              <!-- <button mat-raised-button color="primary" (click)="addProducto()">Agregar</button> -->
              <!-- <button mat-raised-button color="accent">Accent</button>
              <button mat-raised-button color="warn">Warn</button> -->
            </div>
          </div>
        </mat-card-title>
        <mat-card-subtitle>Reportes</mat-card-subtitle>

        <div>
          TESTING REPORTES
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
