

<div class="body-screen-login">

  <div class="card-login">

    <div > <img class="login-img" src="assets/images/background/manatial-logo.png" alt="user"> </div>

    <mat-card class="card-content-login">

      <div *ngIf="isLoading" class="loading-container">
        <h1>hola</h1>
        <mat-spinner></mat-spinner>
      </div>
      

      <div *ngIf="!isLoading" >

        <form class="example-form">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput >
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput >
          </mat-form-field>
  
          <button class="button-login" mat-button>Iniciar sesión</button>

        </form>
        
      </div>
    </mat-card>

  </div>

</div>