<h1 mat-dialog-title>Detalle pedido Mesa #{{data.MesaNumero}}</h1>
<div mat-dialog-content>
  <div style="padding: 0 0.70em 0.70em;">
    <table mat-table [dataSource]="data.PedidoDetalles" style="width: 100%;" class="mat-elevation-z8">
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.Producto.NombreProducto}} </td>
      </ng-container>
      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
      </ng-container>
      <ng-container matColumnDef="Subtotal">
        <th mat-header-cell *matHeaderCellDef> Subtotal </th>
        <td mat-cell *matCellDef="let element"> {{element.Subtotal}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closebtn()">Cerrar</button>
</div>
