<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row">
		<div fxFlex.gt-sm="100%" >
				<mat-card>
						<mat-card-content>
							<mat-card-title>
								<div fxLayou="row">
									<div fxFlex.gt-sm="50%">sdsds</div>
									<div fxFlex.gt-sm="50%" dir="rtl" fxLayoutGap="20px">
										<button mat-raised-button color="primary" (click)="addProducto()">Agregar</button>
										<!-- <button mat-raised-button color="accent">Accent</button>
										<button mat-raised-button color="warn">Warn</button> -->
									</div>
								</div>
							</mat-card-title>
							<mat-card-subtitle>Productos</mat-card-subtitle>
							<table mat-table [dataSource]="productosSource" class="mat-elevation-z8">

								<ng-container matColumnDef="IdProducto">
								  <th mat-header-cell *matHeaderCellDef> Id </th>
								  <td mat-cell *matCellDef="let element"> {{element.IdProducto}} </td>
								</ng-container>

								<ng-container matColumnDef="NombreProducto">
								  <th mat-header-cell *matHeaderCellDef> Nombre </th>
								  <td mat-cell *matCellDef="let element"> {{element.NombreProducto}} </td>
								</ng-container>


								<ng-container matColumnDef="PrecioVenta">
								  <th mat-header-cell *matHeaderCellDef> Precio Venta </th>
								  <td mat-cell *matCellDef="let element"> {{element.PrecioVenta}} </td>
								</ng-container>


								<ng-container matColumnDef="Estado">
								  <th mat-header-cell *matHeaderCellDef> Estado </th>
								  <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
								</ng-container>

								<ng-container matColumnDef="Descripcion">
									<th mat-header-cell *matHeaderCellDef> Descripcion </th>
									<td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                </ng-container>

                <ng-container matColumnDef="Tamanio">
									<th mat-header-cell *matHeaderCellDef> Tamaño </th>
									<td mat-cell *matCellDef="let element"> {{element.Tamanio}} </td>
                </ng-container>

                <ng-container matColumnDef="Opciones">
                  <th mat-header-cell *matHeaderCellDef> Opciones </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                      <mat-icon (click)="openEdit(element)">edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                      <mat-icon (click)="openAgregarExistencia(element)">add</mat-icon>
                    </button>
                  </td>
                </ng-container>

								<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
							  </table>
						</mat-card-content>
				</mat-card>
		</div>
</div>
